.top-row{
    padding: 1em 0;
}
.mat-mdc-form-field{
    width: 100% !important;
}
.image-container{
    width: 200px;
    height: 200px;
    background-color: #f7f7f7;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.image-container img{
    width:290px
}